accelerate>=0.16.0
bitsandbytes>=0.37.0
datasets>=2.9.0
git+https://github.com/huggingface/diffusers # diffusers>=0.13.0.dev0
gradio>=3.18.0
opencv-python>=4.7.0
safetensors>=0.2.8
torch>=1.12.1
torchaudio>=0.12.1
torchvision>=0.13.1
transformers>=4.26.1
wandb>=0.13.10