accelerate>=0.16.0
appdirs>=1.4.4
basicsr>=1.4.2
bitsandbytes>=0.37.0
clip_interrogator>=0.4.4
datasets>=2.9.0
diffusers>=0.13.1
einops>=0.6.0
gradio>=3.18.0
jsonlines>=3.1.0
img2dataset>=1.41.0
omegaconf>=2.3.0
opencv-python>=4.7.0
prettytable>=3.6.0
safetensors>=0.2.8
torch>=1.13.1
torchaudio>=0.12.1
torchvision>=0.13.1
transformers>=4.26.1
wandb>=0.12.10
xformers>=0.0.16